@font-face {
  font-family: "sansPro";
  src: url(../../static/fonts/sourceSansPro/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: "sansPro-light";
  src: url(../../static/fonts/sourceSansPro/SourceSansPro-ExtraLight.ttf);
}
@font-face {
  font-family: "sansPro-bold";
  src: url(../../static/fonts/sourceSansPro/SourceSansPro-Bold.ttf);
}
