@import "./constants.scss";
@import "./fonts.scss";
@import "./effects.scss";

body {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: $black;
}

@import "./header.scss";
@import "./mainContent/mainContent.scss";
