.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  display: flex;
  justify-content: center;

  background-color: hsla(0, 0%, 100%, 0.6);

  ul {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    max-width: $large;
    min-width: $small;

    border: 2px solid $black;

    list-style: none;

    li {
      padding: 10px 20px;

      a {
        text-decoration: none;
        text-transform: uppercase;

        color: $black;
      }

      a:focus-visible {
        padding: 8px 20px;
        background-color: $grey;
        border-radius: 5px;
      }
    }

    li:hover {
      background-color: $grey;

      border-radius: 5px;
    }
  }
}
